@page
@using Conference.Models
@using Conference.Services
@inject CallCoordinatorService CallCoordinator
@inject DatabaseService Database
@model IndexModel
@{
    ViewData["Title"] = "Home page";

    ConferenceUser user = Database.GetUser(Model.User.Identity!.Name!)!;
    
    List<ConferenceContact> contacts = Database.GetContactsForUser(user);
    IEnumerable<ConferenceUser> contactsUsers = contacts.Select(c => Database.GetUser(c.TargetId)!);
}

<h2>Contacts</h2>

<p>Who would you like to call?</p>

<ul>
    @foreach (ConferenceUser contactUser in contactsUsers)
    {
        if (CallCoordinator.IsUserAvailable(contactUser))
        {
            <li><a href="#">@contactUser.Username</a></li>
        }
        else
        {
            <li>@contactUser.Username (offline)</li>
        }
    }
</ul>

@section Scripts
{
    <script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
    
    <script>
        const connection = new signalR.HubConnectionBuilder().withUrl("/hubs/index").build();
        
        connection.start().catch(function (err) {
            return console.error(err);
        });
    </script>
}
