@page
@using Conference.Models
@using Conference.Services
@inject DatabaseService Database
@model IndexModel
@{
    ViewData["Title"] = "Home page";

    ConferenceUser user = Database.GetUser(Model.User.Identity!.Name!)!;
    
    List<ConferenceContact> contacts = Database.GetContactsForUser(user);
    IEnumerable<ConferenceUser> contactsUsers = contacts.Select(c => Database.GetUser(c.TargetId)!);
}

<h2>Contacts</h2>

<p>Who would you like to call?</p>

<ul>
    @foreach (ConferenceUser contactUser in contactsUsers)
    {
        <li>@contactUser.Username</li>
    }
</ul>
